$darkPrimaryColor:   #D32F2F;
$primaryColor:       #F44336;
$lightPrimaryColor:  #FFCDD2;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #448AFF;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;
$linkHoverColor:	 #015785;

//////////////////EXPERIENCE //////////////////
$darkPrimaryColorExp:   #0288D1;
$primaryColorExp:       #03A9F4;
$lightPrimaryColorExp:  #B3E5FC;
$textPrimaryColorExp:   #FFFFFF;
$accentColorExp:        #FF5722;
$primaryTextColorExp:   #212121;
$secondaryTextColorExp: #727272;
$dividerColorExp:       #B6B6B6;


$navbar-default-bg: $darkPrimaryColorExp;
$text-color : $primaryTextColorExp;
//$well-bg: $primaryColor;
$navbar-default-link-color:$textPrimaryColorExp;
$navbar-default-link-active-color: $textPrimaryColorExp;
$navbar-default-toggle-icon-bar-bg:$lightPrimaryColorExp;
$navbar-default-link-hover-bg: $primaryColorExp;
$navbar-default-toggle-hover-bg: $primaryColorExp;
$navbar-border-radius:0;
$timeline-color: $accentColorExp;

$timeline-color-exp: $accentColorExp;
$brand-primary: $darkPrimaryColor;
$brand-primary-exp: $darkPrimaryColorExp;

$circleAnimDuration:1.5s;